extends ../layout/layout

block content

	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		ol.breadcrumb
			li
				a(href='/home') Home
			li.active #{device.name}
	.row.text-left
		.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
			.panel-body
				h2
					| Time
					span.pull-right
						a.btn.btn-success(href='/home/device/#{device.id}/time/add') add time
	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		.panel.panel-default
			.panel-body
				form(role='form')
					if timer.length > 0
						each val in timer
							a(href='/home/device/#{device.id}/time/#{val.id}/update') #{val.h.length > 1 ? val.h : '0' + val.h}:#{val.m.length > 1 ? val.m : '0' + val.m}
							span.pull-right
								input(type='checkbox', checked=val.status, onclick="timmer('"+val.id+"',this.checked)")
							br
							label #{val.set > 0 ? 'On' : 'Off'}
							.divider
					else
						.text-center
							label There is no set time please click on "add time" button to set first
							.divider
	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		.hidden-lg.hidden-md.hidden-sm
			font(color='red') *if you click on this button will remove your device from website
			span.pull-right
				a(href='/home/device/#{device.id}/delete')
					button.btn.btn-danger(type='button', data-toggle='modal', data-target='#myModal') remove device
	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		.hidden-xs
			span.pull-right
				font(color='red') *if you click on this button will remove your device from website 
				a(href='/home/device/#{device.id}/delete')
					button.btn.btn-danger(type='button', data-toggle='modal', data-target='#myModal') remove device
	
